$primary-colour: #51f0e0;
$dark-colour: #4f9b8d;
$light-colour: #ecf4f3;
$danger-colour: #ff5a5a;
$success-colour: #5affad;
$max-width: 1100px;

// Set text colour based on background
@function set-text-colour($colour) {
  @if(lightness($colour) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text colour using Mixin
// Mixin is like a function which doesn't return anything, but outputs the argument given to it.
@mixin set-background($colour) {
    background-color: $colour;
    color: set-text-colour($colour);
}